body {
    background-color: cornflowerblue; 
    color: rgb(255, 255, 255);
    background-image: url("https://bigmemes.funnyjunk.com/large/pictures/4e/4b/4e4baa_5942246.jpg");
    font-size: 150%;

}

#one-paragraph{
color: rgb(0, 0, 07);
font-size: 150%;
}
#two-paragraph{
color:black;
font-size: 150%;
}
#three-par{
color:black;
font-size: 150%
}
#wolf{
color:  black;
font-size:150%
}
.noun{
color: black;
font-size: 150%;
}
#whiterose{
color:black

}