body {
    background-color: cornflowerblue; 
    color: rgb(255, 255, 255);
    background-image: url("https://img1.ak.crunchyroll.com/i/spire2/3e3222eac7b4dfa8244380d1957d27b91510271245_full.jpg");
    font-size: 150%;

}

#one-paragraph{
color: blueviolet;

}
#two-paragraph{
color: red;
}
#three-par{
color: yellow;
}
